<a href="https://colab.research.google.com/github/ekaterinaevd/fifa2022/blob/main/%D0%9E%D1%87%D0%B8%D1%81%D1%82%D0%BA%D0%B0_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%D0%B2_%D0%B4%D0%B0%D1%82%D0%B0%D1%81%D0%B5%D1%82%D0%B5_FIFA2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Описание датасета

![](https://storage.googleapis.com/kaggle-datasets-images/1617785/2659800/c06a7a3de61a874af446f350118ca9ca/dataset-cover.jpg?t=2021-09-28-18-06-09)
<br>Представлен датасет с данными об игроках режима «Карьера» компьютерной игры FIFA 2022 (датасет выложен на платформе [Kaggle](https://www.kaggle.com/datasets/stefanoleone992/fifa-22-complete-player-dataset)).

**Формат файла** : *csv*

**Ссылка на файл** : https://drive.google.com/file/d/1TO3ZFteyoxQ1GQYrs9Y3hDSdhxXDpx1u/view?usp=share_link

# Обзор датасета. Библиотека Pandas

In [ ]:
# при ошибке загрузки в текущей версии gdown необходимо его обновить
!pip install --upgrade gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.16.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.67.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2024.12.14)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
# скачайте датасет с помощью команды !gdown
!gdown --id

usage: gdown [-h] [-V] [-O OUTPUT] [-q] [--fuzzy] [--id] [--proxy PROXY] [--speed SPEED]
             [--no-cookies] [--no-check-certificate] [--continue] [--folder] [--remaining-ok]
             [--format FORMAT] [--user-agent USER_AGENT]
             url_or_id
gdown: error: the following arguments are required: url_or_id

In [ ]:
# импортируйте библиотеку pandas
import pandas as pd

In [ ]:
# прочитайте датасет и сохраните его в переменную
df = pd.read_csv('players_22 (1).csv')

<ipython-input-51-5ddbbbad4b2d>:2: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('players_22 (1).csv')

In [ ]:
# проведите визуальный обзор датасета
df.head()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png

In [ ]:
# определите количество ячеек в датафрейме (строки X столбцы)
df.size

2116290

In [ ]:
# определите количество наблюдений в датафрейме
len(df)

19239

In [ ]:
# определите количество признаков в датафрейме
len(df.axes[1])

110

In [ ]:
# определите тип данных по признаку 'wage_eur'
print(type(df['wage_eur']))

<class 'pandas.core.series.Series'>

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

# Исключение признаков, работа с дубликатами

In [ ]:
# создайте копию датафрейма, сохранив его в переменную df1
df1 = df.copy()

In [ ]:
# список столбцов, которые необходимо исключить
columns = ['club_position',
 'club_jersey_number',
 'club_loaned_from',
 'club_joined',
 'club_contract_valid_until',
 'nationality_id',
 'nationality_name',
 'nation_team_id',
 'nation_position',
 'nation_jersey_number',
 'preferred_foot',
 'weak_foot',
 'skill_moves',
 'international_reputation',
 'work_rate',
 'body_type',
 'real_face',
 'release_clause_eur',
 'player_tags',
 'player_traits',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'attacking_crossing',
 'attacking_finishing',
 'attacking_heading_accuracy',
 'attacking_short_passing',
 'attacking_volleys',
 'skill_dribbling',
 'skill_curve',
 'skill_fk_accuracy',
 'skill_long_passing',
 'skill_ball_control',
 'movement_acceleration',
 'movement_sprint_speed',
 'movement_agility',
 'movement_reactions',
 'movement_balance',
 'power_shot_power',
 'power_jumping',
 'power_stamina',
 'power_strength',
 'power_long_shots',
 'mentality_aggression',
 'mentality_interceptions',
 'mentality_positioning',
 'mentality_vision',
 'mentality_penalties',
 'mentality_composure',
 'defending_marking_awareness',
 'defending_standing_tackle',
 'defending_sliding_tackle',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'goalkeeping_speed',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb',
 'gk',
 'player_face_url',
 'club_logo_url',
 'club_flag_url',
 'nation_logo_url',
 'nation_flag_url']

In [ ]:
# исключите столбцы списка columns из датафрейма, автоматически перезаписав его
df1.drop(columns=columns, inplace=True)

In [ ]:
df1['league_name'] = df1['league_name'].str.lower()
df1['league_name'].str.contains('russia').sum()

82

In [ ]:
len(df1['league_name'].unique())

56

In [ ]:
df1['player_positions'] = df1['player_positions'].apply(lambda x: x.split(', '))
 #.apply(lambda x: str(x).split() if pd.notnull(x) else x)
df1['player_positions_code'] = df1['player_positions'].apply(
    lambda position: 0 if len(position) == 1 else 1
    )
#for position in df1['player_positions']:
 # if len(position_list) == 1:
  #  df1['player_positions_code'] = 0
#  else: df1['player_positions_code'] = 1
df1['player_positions_code']

0        1
1        0
2        1
3        1
4        1
        ..
19234    0
19235    0
19236    0
19237    0
19238    0
Name: player_positions_code, Length: 19239, dtype: int64

In [ ]:
player_positions_dict = {0: 'one', 1: 'several'}
df1['player_positions_category'] = df1.player_positions_code.apply(lambda x: player_positions_dict[x])

In [ ]:
df1['player_positions_category'].apply(lambda x: True if x == 'several' else False).sum()

9809

In [ ]:
# определите количество признаков в датафрейме
len(df1.axes[1])

17

In [ ]:
# определите количество "полных" дубликатов
# (именно повторно встречающихся записей, первые записи не помечаются)
df1.duplicated(keep='first').sum()

0

In [ ]:
# определите количество дубликатов по признакам 'short_name' и 'age' (при условии совпадения значений по обоим признакам)
# (именно повторно встречающихся записей, первые записи не помечаются)
df1.duplicated(subset=['short_name', 'age'], keep='first').sum()

95

In [ ]:
# исключите все записи, по которым совпадают значения по признакам 'long_name' и 'club_name'
# (автоматически перезапишите датафрейм)
df1.drop_duplicates(subset=['long_name', 'club_name'], keep=False, inplace=True)

In [ ]:
# определите количество записей после исключения дубликатов
df1.shape

(19233, 17)

# Работа с пропусками

In [ ]:
# определите, по каким признакам присутствуют пропущенные значения
df1.isna().sum()

sofifa_id            0
player_url           0
short_name           0
long_name            0
player_positions     0
overall              0
potential            0
value_eur           74
wage_eur            61
age                  0
dob                  0
height_cm            0
weight_kg            0
club_team_id        61
club_name           61
league_name         61
league_level        61
dtype: int64

In [ ]:
# определите процент пропусков по признаку 'value_eur'
df1['value_eur'].isnull().mean()*100

0.3847553683772682

In [ ]:
# определите количество заполненных значений по признаку 'league_name'
df1['league_name'].notna().sum()

19172

In [ ]:
# исключите все записи, по которым отсутствуют значения по признаку 'club_name'
# (автоматически перезапишите датафрейм)
df1.dropna(subset='club_name', inplace=True)

In [ ]:
# определите количество пропущенных значений по признаку 'value_eur'
df1['value_eur'].isna().sum()

13

In [ ]:
# найдите среднее значение по признаку 'value_eur'
mean = df1['value_eur'].mean()
mean

2850611.9317292133

In [ ]:
# заполните средним значением отсутствующие значения по признаку 'value_eur'
# (автоматически перезапишите датафрейм)
df1['value_eur'].fillna(mean, inplace=True)

<ipython-input-28-111b13148b97>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['value_eur'].fillna(mean, inplace=True)

In [ ]:
# сбросьте индексы после всех преобразований
# (автоматически перезапишите датафрейм)
df1.reset_index(drop=True, inplace=True)

In [ ]:
# проверьте диапазон индексов
df1.index

RangeIndex(start=0, stop=19172, step=1)

# Преобразование данных

In [ ]:
# определите формат данных признака 'dob'
df1['dob'].dtypes

dtype('O')

In [ ]:
# переведите значения признака 'dob' в формат datetime
df1['dob'] = pd.to_datetime(df1['dob'])

In [ ]:
# отобразите даты в формате ДД.ММ.ГГГГ
df1['dob'] = pd.to_datetime(df1['dob'], format="%d.%m.%Y")
df1['dob']

0       1987-06-24
1       1988-08-21
2       1985-02-05
3       1992-02-05
4       1991-06-28
           ...
19167   1999-01-02
19168   2002-03-18
19169   2000-02-07
19170   2002-04-23
19171   2002-02-06
Name: dob, Length: 19172, dtype: datetime64[ns]

In [ ]:
# определите формат данных признака 'overall'
df1['overall'].dtypes

dtype('int64')

In [ ]:
# переведите значения признака 'overall' в формат числа с плавающей точкой
df1['overall'] = pd.to_numeric(df1['overall'], downcast='float')
df1['overall']

0        93.0
1        92.0
2        91.0
3        91.0
4        91.0
         ...
19167    47.0
19168    47.0
19169    47.0
19170    47.0
19171    47.0
Name: overall, Length: 19172, dtype: float32

In [ ]:
# определите формат данных признака 'value_eur'
df1['value_eur'].dtypes

dtype('float64')

In [ ]:
# переведите значения признака 'value_eur' в формат целого числа
df1['value_eur'] = df1.value_eur.astype('int')
df1['value_eur']

0         78000000
1        119500000
2         45000000
3        129000000
4        125500000
           ...
19167        70000
19168       110000
19169       100000
19170       110000
19171       110000
Name: value_eur, Length: 19172, dtype: int64

# Расчёт доп. признаков

In [ ]:
# рассчитайте актуальный возраст на текущий год (без учета дня и месяца рождения) и сохраните данные в столбец 'age_new'
current_day = pd.Timestamp.today()
current_year = current_day.year
df1['age_new'] = current_year - 2022 + df1['age']
df1.age_new

0        37
1        35
2        39
3        32
4        33
         ..
19167    25
19168    22
19169    24
19170    22
19171    22
Name: age_new, Length: 19172, dtype: int64

In [ ]:
# определите разницу в возрасте (количество лет) между футболистами под индексом 0 и 10017
df1.loc[0]['age_new'] - df1.loc[10017]['age_new']

5

In [ ]:
df1['weight_kg']

0        72
1        81
2        83
3        68
4        70
         ..
19167    64
19168    70
19169    72
19170    66
19171    61
Name: weight_kg, Length: 19172, dtype: int64

In [ ]:
# определите индекс массы тела футболистов, округлив результат до двух знаков после запятой
# запишите результаты в столбец 'imt'
# ИМТ = вес (в килограммах) : (рост (м))**2
# вес - 'weight_kg', рост - 'height_cm'
df1['imt'] = round(df1['weight_kg'] / (df1['height_cm'] / 100) **2, 2)
df1['imt']

0        24.91
1        23.67
2        23.74
3        22.20
4        21.37
         ...
19167    19.75
19168    22.86
19169    22.72
19170    22.05
19171    21.87
Name: imt, Length: 19172, dtype: float64

In [ ]:
# определите среднее значение ИМТ с помощью метода mean(), округлив результат до двух знаков после запятой
round(df1['imt'].mean(), 2)

22.77

In [ ]:
print(df1['player_positions'].apply(type).unique())

[<class 'str'>]

In [ ]:
# закодируйте значения по признаку 'player_positions' по условию:
# если указано одно значение, то присвоить 0, в противном случае - 1
# результаты сохраните в столбец 'player_positions_code'
# подсказка: количество значений можно определить как длину списка, определенного с помощью метода split()
df1['player_positions'] = df1['player_positions'].apply(lambda x: x.split(', '))
 #.apply(lambda x: str(x).split() if pd.notnull(x) else x)
df1['player_positions_code'] = df1['player_positions'].apply(
    lambda position: 0 if len(position) == 1 else 1
    )
#for position in df1['player_positions']:
 # if len(position_list) == 1:
  #  df1['player_positions_code'] = 0
#  else: df1['player_positions_code'] = 1
df1['player_positions_code']

0        1
1        0
2        1
3        1
4        1
        ..
19167    0
19168    0
19169    0
19170    0
19171    0
Name: player_positions_code, Length: 19172, dtype: int64

In [ ]:
# определите наиболее часто встречаемое значение по признаку 'player_positions_code'
# подсказка: используйте метод mode()
most_frequent = df1['player_positions_code'].mode()[0]
most_frequent

1

In [ ]:
# закодируйте значения по признаку 'player_positions_code' с помощью словаря:
# 0: one, 1: several
# результаты сохраните в столбец 'player_positions_category'
player_positions_dict = {0: 'one', 1: 'several'}
df1['player_positions_category'] = df1.player_positions_code.apply(lambda x: player_positions_dict[x])

In [ ]:
# определите количество значений several по признаку 'player_positions_category'
# подсказка: для вывода булевых значений используйте оператор сравнения
# подсказка: для расчета количества используйте метод sum()
df1['player_positions_category'].apply(lambda x: True if x == 'several' else False).sum()

9776

# Форматирование текстовых данных

In [ ]:
df2 = df1.copy()

In [ ]:
# определите количество уникальных значений по признаку 'league_name'
len(df2['league_name'].unique())

55

In [ ]:
# приведите строковые значения признака 'league_name' в нижний регистр
df2['league_name'] = df2['league_name'].str.lower()
df2['league_name']

0                        french ligue 1
1                  german 1. bundesliga
2                english premier league
3                        french ligue 1
4                english premier league
                      ...
19167              chinese super league
19168    rep. ireland airtricity league
19169    rep. ireland airtricity league
19170    rep. ireland airtricity league
19171               indian super league
Name: league_name, Length: 19172, dtype: object

In [ ]:
# определите, сколько раз встречается подстрока 'russia' в строковых данных признака 'league_name'
df2['league_name'].str.contains('russia').sum()

82

In [ ]:
# заполните все пустые значения по признаку 'league_name' значением 'не указано'
df2['league_name'].isna().sum()

0

In [ ]:
# разделите строки по признаку 'player_positions' на список подстрок
df2['player_positions'] = df2['player_positions'].str.split(', ')
df2['player_positions']

0        [RW, ST, CF]
1                [ST]
2            [ST, LW]
3           [LW, CAM]
4           [CM, CAM]
             ...
19167           [CDM]
19168            [CM]
19169            [CM]
19170            [ST]
19171           [CAM]
Name: player_positions, Length: 19172, dtype: object

In [ ]:
# трансформируйте датафрейм по признаку 'player_positions' и сохраните его в переменную df2
df3 = df2.explode('player_positions', ignore_index=True)
df3.head()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,height_cm,weight_kg,club_team_id,club_name,league_name,league_level
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,RW,93,93,78000000.0,320000.0,34,1987-06-24,170,72,73.0,Paris Saint-Germain,french ligue 1,1.0
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,ST,93,93,78000000.0,320000.0,34,1987-06-24,170,72,73.0,Paris Saint-Germain,french ligue 1,1.0
2,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,CF,93,93,78000000.0,320000.0,34,1987-06-24,170,72,73.0,Paris Saint-Germain,french ligue 1,1.0
3,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,1988-08-21,185,81,21.0,FC Bayern München,german 1. bundesliga,1.0
4,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,ST,91,91,45000000.0,270000.0,36,1985-02-05,187,83,11.0,Manchester United,english premier league,1.0

In [ ]:
# определите количество наблюдений в датафрейме df2
len(df3)

31836

In [ ]:
# сохраните датафрейм df1 в формат xlsx без учета индексного столбца
df2.to_excel('players_22_clean.xlsx', index=False)

In [ ]:
# сохраните датафрейм df2 в формат csv
df3.to_csv('players_22_clean.csv')